.piano .container {
  background-color: #807979;
  height: 500px;
  width: 600px;
  margin: 50px auto 0;
  position: relative;
}

.piano {

}

.piano__title {
  color: blue;
  font-size: 25px;
  width: 100%;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
}
.piano__notes {
  display: flex;
  flex-direction: row;
  position: relative;
}
.piano__note-item {
  background-color: white;
  border: 3px black solid;
  height: 250px;
  width: 40px;
  writing-mode: vertical-lr;
  text-align: right;
  padding: 0 0 20px 0;
  cursor: default;

  &:hover {
    border: 3px solid blue;
    color: blue;
  }

  &:active {
    border: 3px solid red;
    color: red;
  }
}
.piano__note-item--dur {
  position: absolute;
  width: 30px;
  color: white;
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(7),
  &:nth-child(9),
  &:nth-child(11) {
    background-color: black;
    height: 190px;
    left: 24px;
  }

  &:nth-child(4) {
    left: 63px;
  }

  &:nth-child(7) {
    left: 145px;
  }

  &:nth-child(9) {
    left: 185px;
  }

  &:nth-child(11) {
    left: 225px;
  }
}

.piano__table {
  position: absolute;
  top: 107px;
  left: 318px;
  width: 50px;
  height: 50px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano__table-text {


}
